*.swp
*.pdf
*.log
*.aux
*.tox

/SW01/Repetition/nbproject/private/
/SW01/Repetition/build/
/SW01/LinkedList/nbproject/private/
/SW01/LinkedList/build/
/sw02/QueueTest/nbproject/private/
/sw02/Stack/nbproject/private/
/sw03/IList/nbproject/private/
/sw04/Calculator/nbproject/private/
/sw04/Calculator/build/
/sw08/Ball/nbproject/private/
/sw08/Ball/build/
/sw08/Ball/dist/